<div>
    <button class="btn btn-default" ng-click="getVocabulary()">
        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
    </button>

    <table st-table="displayedCollection" st-safe-src="vocabulary"
           class="table table-striped">
        <thead>
        <tr>
            <th>Action</th>
            <th st-sort="word">Word</th>
            <th>Translate</th>
            <th>Library</th>
        </tr>
        <tr>
            <th colspan="4"><input st-search="" class="form-control"
                                   placeholder="global search ..."
                                   type="text"/></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in displayedCollection">
            <td>
                <button class="btn btn-default btn-xs"
                        ng-click="wordVoice(row)">
                    <span class="glyphicon glyphicon-volume-up"
                          aria-hidden="true"></span>
                </button>
            </td>
            <td>{{ row.word }}</td>
            <td>{{ row.translate }}</td>
            <td>
                <ul>
                    <li ng-repeat="lib in row.library">
                        {{ libraries[lib].level }} -
                        {{ libraries[lib].lesson }}
                    </li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>

    <div>

    </div>
</div>